<template>
  <div class="submitform">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          v-model="customer.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="number"
          class="form-control"
          id="age"
          required
          v-model="customer.age"
          name="age"
        />
      </div>

      <div class="form-group">
        <label for="telephone">Telephone</label>
        <input
          type="text"
          class="form-control"
          id="telephone"
          required
          v-model="customer.telephone"
          name="telephone"
        />
      </div>

      <div class="form-group">
        <label for="enterDate">Enter Date</label>
        <input
          type="text"
          class="form-control"
          id="enterDate"
          required
          v-model="customer.enterDate"
          name="enterDate"
        />
      </div>

      <div class="form-group">
        <label for="exitDate">Exit Date</label>
        <input
          type="text"
          class="form-control"
          id="exitDate"
          required
          v-model="customer.exitDate"
          name="exitDate"
        />
      </div>

      <button v-on:click="saveCustomer" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h3>You submitted successfully!</h3>
      <button class="btn btn-success" v-on:click="newCustomer">Add</button>
    </div>
  </div>
</template>

<script>
import http from "../http-common";
export default {
  name: "AddCustomer",
  data() {
    return {
      customer: {
        id: 0,
        name: "",
        age: 0,
        telephone: "",
        enterDate: "",
        exitDate: "",
      },
      summited: false,
    };
  },
  methods: {
    saveCustomer() {
      var data = {
        name: this.customer.name,
        age: this.cutomer.age,
        telephone: this.cutomer.telephone,
        enterDate: this.customer.enterDate,
        exitDate: this.customer.exitDate,
      };
      http
        .post("/customer", data)
        .then((Response) => {
          this.customer.id = Response.data.id;
          console.log(Response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    newCustomer() {
      (this.summited = false), (this.customer = {});
    },
  },
};
</script>


<style>
.submitform {
  max-width: 300px;
  margin: auto;
}
</style>
