<template>
  <div v-if="this.customer">
    <h3>Customer</h3>
    <div><label>Name: </label> {{ this.customer.name }}</div>
    <div><label>Age: </label> {{ this.customer.age }}</div>
    <div><label>Telephone: </label> {{ this.customer.telephone }}</div>
    <div><label>Enter Date: </label> {{ this.customer.enterDate }}</div>
    <div><label>Exit Date: </label> {{ this.customer.exitDate }}</div>
    <span @click="added()" class="button is-small btn-primary"
      >Add Customer</span
    >
    <span @click="deleted()" class="button is-small btn-danger"
      >Delete Customer</span
    >
  </div>
</template>

<script>
  import http from "../http-common";
  export default {
    name: "customer",
    props: ["customer"],
    methods: {
      added() {
        var data = {
          id: this.cutomer.id,
          name: this.customer.name,
          age: this.cutomer.age,
          telephone: this.cutomer.telephone,
          enterDate: this.customer.enterDate,
          exitDate: this.customer.exitDate,
        };
        http
          .put("/customer/" + this.customer.id, data)
          .then((Response) => {
            this.cutomer = Response.data;
            console.log(Response.data);
          })
          .catch((e) => {
            console.log(e);
          });
      },
      daleted() {
        http
          .delete("/customer/" + this.customer.id)
          .then((Response) => {
            console.log(Response.data);
            this.$emit("refreshData");
            this.$router.push("/");
          })
          .catch((e) => {
            console.log(e);
          });
      },
    },
  };
</script>
