<template>
    <div class="list row">
        <div class="col-md-6">
            <h3>Customers List</h3>
            <ul>
                <li v-for="(customer, index) in customers" :key="index">
                    <router-link :to="{
                            name: 'customer-details',
                            params: { customer: customer, id: customer.id }
                        }">
                            {{customer.name}}
                    </router-link>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <router-view @refreshData="refreshList"></router-view>
        </div>
    </div>
</template>

<script>
import http from "../http-common";
export default {
    name: "customerList",
    data() {
        return {
            customer: []
        };
    },
    methods: {
        retrieveCustomers(){
            http.get("/customer").then(Response =>{
                this.customer=Response.data;
                console.log(Response.data);
            }).catch(e=>{
                console.log(e);
            })
        },
        refreshList(){
            this.retrieveCustomers();
        }
    },
    mounted() {
        this.retrieveCustomers();
    },
}
</script>

<style>
.list {
  text-align: left;
  max-width: 450px;
  margin: auto;
}
</style>
